In [1]:
import pandas as pd
data=pd.read_csv('alimentos_data.csv', delimiter=',',encoding = 'utf8')

In [2]:
data.head()

,codigo,grupo,nombre,energykcal,energykj,water,prot,fat,chocdf,choavl,...,zn,fe,beta,retinol,vita,thia,ribf,nia,vitc,asct
0,A01,Cereales y derivados,"Achita, kiwicha o achis",343,1434,9.2,12.8,6.6,69.1,59.8,...,2.68,7.32,57.0,NaN,0.0,0.09,0.18,1.58,1.3,NaN
1,A03,Cereales y derivados,Arroz blanco corriente,358,1500,13.4,7.8,0.7,77.6,77.6,...,1.51,1.04,0.0,NaN,NaN,0.11,0.04,2.19,0.9,NaN
2,A05,Cereales y derivados,Avena envasada,380,1592,6.1,13.7,4.7,71.3,71.3,...,3.97,3.50,NaN,0.0,0.0,0.55,0.12,1.50,0.0,NaN
3,A06,Cereales y derivados,"Avena, hojuela cocida",54,224,87.1,1.3,0.5,10.9,10.9,...,NaN,0.50,NaN,NaN,NaN,0.00,0.01,0.22,0.0,NaN
4,A07,Cereales y derivados,"Avena, hojuela cruda",326,1364,8.8,13.3,4.0,72.2,61.6,...,3.97,4.10,NaN,NaN,0.0,0.15,0.09,1.00,0.0,NaN

In [3]:
data=data.filter(items=['nombre','grupo', 'energykcal'])

In [4]:
datafilter=pd.read_csv('alimentos_lite.csv', delimiter=';')
datafilter

   alimento  level\t\t\t\t
0      apio              0
1     fresa              0
2   manzana              0
3     arroz              0
4      cafe              0
5   cebolla              0
6       res              0
7     huevo              0
8     leche              0
9   lechuga              0
10     papa              0
11  platano              0
12      aji              0
13    pollo              0
14       te              0
15   tomate              0
16   frijol              0

In [5]:
import re
alimentos=[]
for i in datafilter[datafilter.columns[0]]:

    pattern = re.compile('^'+i+" ?")
    a=0;
    for j in data[data.columns[0]]:
        if pattern.match(j.lower()):
            alimentos.append([i,data.loc[a][1],data.loc[a][2]])
        a+=1

In [6]:
#import numpy as np
#alimentos=np.array(alimentos)
alimentos

[['apio', 'Verduras, hortalizas, y derivados', 21],
 ['fresa', 'Frutas y derivados', 41],
 ['manzana', 'Frutas y derivados', 54],
 ['arroz', 'Cereales y derivados', 358],
 ['cafe', 'Misceláneos', 203],
 ['cebolla', 'Verduras, hortalizas, y derivados', 32],
 ['res', 'Carnes y derivados', 105],
 ['huevo', 'Huevos y derivados', 141],
 ['leche', 'Leches y derivados', 63],
 ['lechuga', 'Verduras, hortalizas, y derivados', 12],
 ['papa', 'Tubérculos, raíces y derivados', 97],
 ['platano', 'Frutas y derivados', 83],
 ['aji', 'Verduras, hortalizas, y derivados', 39],
 ['pollo', 'Carnes y derivados', 119],
 ['te', 'Misceláneos', 308],
 ['tomate', 'Verduras, hortalizas, y derivados', 16],
 ['frijol', 'Leguminosas y derivados', 339]]

In [7]:
data_Final=pd.DataFrame(alimentos)
data_Final

          0                                  1    2
0      apio  Verduras, hortalizas, y derivados   21
1     fresa                 Frutas y derivados   41
2   manzana                 Frutas y derivados   54
3     arroz               Cereales y derivados  358
4      cafe                        Misceláneos  203
5   cebolla  Verduras, hortalizas, y derivados   32
6       res                 Carnes y derivados  105
7     huevo                 Huevos y derivados  141
8     leche                 Leches y derivados   63
9   lechuga  Verduras, hortalizas, y derivados   12
10     papa     Tubérculos, raíces y derivados   97
11  platano                 Frutas y derivados   83
12      aji  Verduras, hortalizas, y derivados   39
13    pollo                 Carnes y derivados  119
14       te                        Misceláneos  308
15   tomate  Verduras, hortalizas, y derivados   16
16   frijol            Leguminosas y derivados  339

In [8]:
data_Final.to_csv('data_Alimentos.csv')

In [12]:
d=datafilter.values.tolist()

In [13]:
d

[['apio', 0],
 ['fresa', 0],
 ['manzana', 0],
 ['arroz', 0],
 ['cafe', 0],
 ['cebolla', 0],
 ['res', 0],
 ['huevo', 0],
 ['leche', 0],
 ['lechuga', 0],
 ['papa', 0],
 ['platano', 0],
 ['aji', 0],
 ['pollo', 0],
 ['te', 0],
 ['tomate', 0],
 ['frijol', 0]]

In [ ]:
e=[]
for i in d: